<header>
    
    
    <nav>
        <a class="site-title" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">
          <img class="logo" src="{{site.img_path}}/logo-special.png">
        </a>
      <ul class="text-center list-unstyled">
        <li><a class="page-link shadow-box" href="{% tl company %}" id="company">{% t pages.company %}</a></li>
        <li><a class="page-link shadow-box" href="{% tl activities %}" id="activities">{% t pages.activities %}</a></li>
        <li><a class="page-link shadow-box" href="{% tl suppliers %}" id="suppliers">{% t pages.suppliers %}</a></li>
        <li><a class="page-link shadow-box" href="{% tl financial-management %}" id="financial-management">{% t pages.financial-management %}</a></li>
        <li><a class="page-link shadow-box" href="{% tl sustentability %}" id="sustentability">{% t pages.sustentability %}</a></li>
        <li><a class="page-link shadow-box" href="{% tl contact %}" id="contact">{% t pages.contact %}</a></li>
        <li>
          <div class="language-selection">
            {% if site.lang == "pt" %}
              <a href="/en{{ page.permalink_en }}" class="lang-link" data-tooltip="Traduzir para inglês" ><img src="{{site.img_path}}/lang_en-us.png"></a>
            {% elsif site.lang == "en" %}
              {% if page.url == "/" %}
                <a href="/{{ site.baseurl_root }}" class="lang-link" data-tooltip="Translate to portuguese">{% t translation.translate %} <img src="{{site.img_path}}/lang_pt-br.png"></a>
              {% else %}
                <a href="{{ site.baseurl_root }}{{ page.permalink }}" class="lang-link" data-tooltip="Translate to portuguese">{% t translation.translate %} <img src="{{site.img_path}}/lang_pt-br.png"></a>
              {% endif %}
            {% endif %}
          </div>
        </li>
      </ul>
    </nav>

    
</header>