<div class="info-box" id="{{ include.id }}">
    <div class="inner-info">
        <p class="phrase">{% t include.phrase-tkey %}</p>
        <p>{% t include.content-tkey %}</p>
    </div>
    
    {% if include.tkey-id != blank %}
        <div class="plus-button">
            <a class="shadow-box" href="{% translate_link activities %}#{% t include.tkey-id %}"><i class="fa fa-plus-circle"></i>{% t global.read-more %}</a>
        </div>
    {% endif %}
</div>