<div id="slider-back">
  <a class="control_next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
  <a  class="control_prev"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span></a>
  <ul>
    <li data-slide-number="0" style="background-image: url('{{ site.baseurl_root }}/assets/img/background.jpg')">
        <div class="message bottom right">
            {% t home.phrases.number1 %}
        </div>
    </li>

    <li data-slide-number="1" style="background-image: url('{{ site.baseurl_root }}/assets/img/background1.jpg')">
        <div class="message top right">
            {% t home.phrases.number2 %}
        </div>
    </li>

   
    <li data-slide-number="2" style="background-image: url('{{ site.baseurl_root }}/assets/img/background4.jpg')">
        <div class="message top left">
            {% t home.phrases.number3 %}
        </div>
    </li>
    <li data-slide-number="3" style="background-image: url('{{ site.baseurl_root }}/assets/img/background5.jpg')">
        <div class="message bottom left">
            {% t home.phrases.number4 %}
        </div>
    </li>
  </ul>
  <div class="slider-counter"></div>  
</div>

<script>
    jQuery(document).ready(function ($) {
  
	var slideCount = $('#slider-back ul li').length;
	var slideWidth = $('#slider-back ul').width();
    $('#slider-back ul li').width(slideWidth);
	var slideHeight = $('#slider-back ul li').height();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider-back').css({ width: slideWidth, height: slideHeight });
	
	$('#slider-back ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider-back ul li:last-child').prependTo('#slider-back ul');

    var myTimer = setInterval(function(){ moveRight() }, 5000);

    for(let i = 0; i < slideCount; i++) {
        if( i == 0)
            $('#slider-back .slider-counter').append('<div class="step active" data-slide-active="' + i + '"></div>');
        else
            $('#slider-back .slider-counter').append('<div class="step" data-slide-active="' + i + '"></div>');
    }

    function moveLeft() {
        
        $('#slider-back ul').animate({
            left: + slideWidth
        }, 800, function () {
            showMarkerCount($('#slider-back ul li:first-child').attr('data-slide-number'));
            $('#slider-back ul li:last-child').prependTo('#slider-back ul');
            $('#slider-back ul').css('left', '');
            
        });
        
    };

    function moveRight() {
        
        $('#slider-back ul').animate({
            left: - slideWidth
        }, 800, function () {
            showMarkerCount($('#slider-back ul li:last-child').attr('data-slide-number'));
            $('#slider-back ul li:first-child').appendTo('#slider-back ul');
            $('#slider-back ul').css('left', '');
        });
        
    };

    function showMarkerCount(current) {
        $('#slider-back .step').removeClass('active');
        $('#slider-back .step[data-slide-active=' +current+ ']').addClass('active');

        clearInterval(myTimer);
        myTimer = setInterval(function(){ moveRight() }, 8000);
    }

    $('#slider-back a.control_prev').click(function () {
        moveLeft();
    });

    $('#slider-back a.control_next').click(function () {
        moveRight();
        
    });

});    
</script>