<div id="slider">
  <a class="control_next"><span class="lnr lnr-arrow-right-circle"></span></a>
  <a  class="control_prev"><span class="lnr lnr-arrow-left-circle"></span></a>
  <ul>
    <li data-slide-number="0">
        <p>
            <img src='{{ site.baseurl_root }}/assets/img/mapa-brasil.png'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat ex et purus interdum euismod. Aliquam erat volutpat. Proin finibus posuere eros a congue. Suspendisse nec pharetra tellus, vitae vulputate dolor.
        </p>
    </li>
    <li data-slide-number="1">
        <p>
            Donec porttitor lorem ante, a eleifend sapien aliquam in. Maecenas sit amet justo sollicitudin eros lobortis accumsan vitae vel augue. Quisque sollicitudin dui a eros malesuada pretium. Duis gravida posuere dolor non viverra. Nunc ac est vitae odio maximus imperdiet ac a lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed et scelerisque ante. Ut aliquam ligula sapien, eu dignissim purus lobortis sed. Donec cursus sed lacus eu iaculis. Fusce et scelerisque nisi. Integer purus odio, pellentesque a libero et, volutpat auctor mauris. Vivamus vulputate dignissim luctus. Suspendisse sit amet felis imperdiet, blandit velit ut, laoreet est. Sed a lorem aliquet, maximus diam eget, cursus est. Sed fringilla tellus nec volutpat ullamcorper. Vivamus cursus velit ut orci hendrerit, ac commodo nunc mattis.
        </p>
    </li>
    <li data-slide-number="2">
        <p>
            Aenean elementum, sapien quis pellentesque luctus, sem sem porta felis, sit amet pellentesque turpis dui id orci. Curabitur efficitur varius eros, sed tempor augue sodales et. Donec id bibendum mauris. Cras a ligula at diam gravida gravida id in metus. Nam ullamcorper, dolor vitae hendrerit gravida, diam nisi condimentum mauris, in bibendum est sapien et lacus. Suspendisse tempor massa vitae nulla porta vehicula. Morbi vel diam porta, suscipit enim luctus, facilisis leo. Sed porta neque leo, malesuada vestibulum turpis venenatis ac. Sed porta faucibus commodo. Aliquam tempor turpis eu quam ornare lacinia. Proin sit amet condimentum ipsum. Cras rhoncus, odio sit amet facilisis mollis, erat sapien venenatis sem, et euismod augue sapien in eros. Nullam ut erat dapibus sapien feugiat elementum ut ac libero.
        </p>
    </li>
  </ul>
  <div class="slider-counter"></div>  
</div>

<script>
    jQuery(document).ready(function ($) {
  
	var slideCount = $('#slider ul li').length;
	var slideWidth = $('#slider ul li').width();
	var slideHeight = $('#slider ul li').height();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider').css({ width: slideWidth, height: slideHeight });
	
	$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider ul li:last-child').prependTo('#slider ul');

    for(let i = 0; i < slideCount; i++) {
        if( i == 0)
            $('#slider .slider-counter').append('<div class="step active" data-slide-active="' + i + '"></div>');
        else
            $('#slider .slider-counter').append('<div class="step" data-slide-active="' + i + '"></div>');
    }

    function moveLeft() {
        
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            showMarkerCount($('#slider ul li:first-child').attr('data-slide-number'));
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
            
        });
        
    };

    function moveRight() {
        
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            showMarkerCount($('#slider ul li:last-child').attr('data-slide-number'));
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
        
    };

    function showMarkerCount(current) {
        $('.step').removeClass('active');
        $('.step[data-slide-active=' +current+ ']').addClass('active');
    }

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });

});    
</script>