footer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  p {
      color: white;
      font-size: 0.7em;
      text-transform: uppercase;
      padding: 10px;
      margin: 0;
  }
} // end of footer