.master-info-box {
  background-color: $background-gray;
  text-align: center;

  h2 {
    text-transform: uppercase;
    padding: 30px 0;
    font-weight: 500;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    padding: 0 130px;
    padding-bottom: 30px;
  }

  .plus-button {
    font-size: 1.2em;
    padding-bottom: 10px;
    i {
      margin-right: 10px;
    }
  }
}

.small-info-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .small-info-box {
    margin-top: 20px;
    background-color: $background-gray;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    position: relative;
    z-index: 0;
    a {
      display: block;
      padding: 30px 0;
      width: 100%;
    }
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      background: $secondary-color;
      transform: scaleY(0);
      transform-origin: left bottom;
      transition: transform .3s ease-out;
    }
    &:hover:before {
        transform: scaleY(1);
    }
  }

}