@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: 'Quicksand', sans-serif;
    font-size: $base-font-size;
    h1,
    h2,
    h3 {
        font-family: "Kirvy", sans-serif;
    }
    .lnr {
        margin-right: 10px;
    }
}

.shadow-box {
    transition: all .2s ease-in-out;
    &:hover {
        text-decoration: none;
        -webkit-box-shadow: inset 0 -0.5em 0 transparentize($secondary-color, 0.2);
        box-shadow: inset 0 -0.5em 0 transparentize($secondary-color, 0.2);
    }
    &.active {
        text-decoration: none;
        -webkit-box-shadow: inset 0 -0.5em 0 transparentize(white, 0.2);
        box-shadow: inset 0 -0.5em 0 transparentize(white, 0.2);
    }
    &.primary {
        &:hover, &.active {
            text-decoration: none;
            -webkit-box-shadow: inset 0 -0.5em 0 transparentize($primary-color, 0.2);
            box-shadow: inset 0 -0.5em 0 transparentize($primary-color, 0.2);
        }
    }
}

.wrapper {
    height: 100%;
}

.nav-arrow {
    position: fixed;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    transition: all 0.5s;
    z-index: 1;
    left: 20px;
    &:hover {
        transform: scale(1.5);
        color: white;
        cursor: pointer;
    }
    &.go-up {
        bottom: 50px;
    }
    &.go-down {
        top: 50px;
    }
}

header {
    background-color: transparentize($gray, 0.15);
    width: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 2;
    &.nav-up {
        .logo-area {
            height: 0;
            .logo {
                opacity: 0;
                display: none;
            }
            .language-selection {
                opacity: 0;
            }
        }
        .logo-small {
            opacity: 1;
        }
    }
    .logo {
        height: 50px;
        margin: 15px;
        opacity: 1;
        transition: opacity 0.2s;
    }
    .logo-area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;
        height: 110px;
        transition: height 0.5s;
        .language-selection {
            opacity: 1;
            transition: opacity 0.2s;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 0.7em;
            a {
                color: white;
                cursor: pointer;
            }
            .language {
                font-family: "Kirvy", sans-serif;
                font-size: 2em;
                display: block;
                font-weight: bold;
            }
        } // end of header nav .logo-area .language-selection
    } // end of header nav .logo-area
    nav {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        .language-selection {
            position: relative;
        }
        .lang-link{
            img {
                border-radius: 50%;
                transition: box-shadow 0.5s;
                &:hover {
                    box-shadow: 0px 0px 10px #fff;
                }
            }
            &:after {
                content: attr(data-tooltip);
                position: absolute;
                background-color: black;
                top: 0;
                left: 500px;
                width: 255px;
                height: 90%;
                font-size: 0.9em;
                line-height: 2.8em;
                font-weight: 600;
                opacity: 0;
                transition: opacity 0.5s;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    right: 100%;
                    left: inherit;
                }
            }
        }
        .logo-small {
            height: 2em;
            position: absolute;
            left: 10px;
            margin: 8px;
            opacity: 0;
            transition: opacity 0.2s;
        }
        ul {
            margin: 0;
            display: flex;
        }
        li {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            a {
                font-family: "Kirvy", sans-serif;
                text-transform: uppercase;
                cursor: pointer;
                padding: 10px;
                color: white;
                font-size: 0.8em;
                text-align: center;
                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        } // end of header nav li
    } // end of header nav
} // end of header
.banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .container-info {
        height: 70%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }
    .container-info-boxes {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 150px;
        bottom: 150px;
        overflow: hidden;
        @media #{$mq-tablet} {
            width: auto;
            left: 0%;
            right: 0;
        }
    }
    .message {
        padding: 40px;
        width: 700px;
        min-width: 300px;
        position: absolute;
        bottom: 100px;
        right: 40px;
        p {
            text-transform: uppercase;
            background-color: transparentize($green, 0.2);
            font-family: "Kirvy", sans-serif;
            font-weight: 300;
            color: white;
            font-size: 2.3em;
            display: inline;
            padding: 15px 0;
            line-height: 2.1em;
            text-align: center;
            &.small {
                text-transform: inherit;
                font-size: 1.5em;
                line-height: 1.6em;
                padding: 5px 0;
            }
        }
        &.right {
            right: 40px;
            text-align: right;
        }
        &.bottom {
            bottom: 100px;
        }
        &.left {
            left: 40px;
            text-align: left;
        }
        &.top {
            top: 200px;
        }
    } //end of .message
    .little-box-area {
        position: absolute;
        left: 0;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .little-box {
        background-color: rgba(255, 255, 255, 0.7);
        width: 95%;
        transition: background-color 0.5s;
        cursor: pointer;
        text-align: center;
        z-index: 0;
        position: relative;
        display: inline-block;
        height: 20%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.selected {
            background: white;
            &:after {
                content: '';
                height: 100%;
                position: absolute;
                width: 5%;
                background-color: white;
                right: -5%;
            }
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparentize(white, 0.3);
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition: transform .3s ease-out;
        }
        &:hover:before {
            transform: scaleX(1);
        }
        h2 {
            font-size: 1.5em;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-weight: 200;
            text-align: left;
            padding-left: 20px;
            .fa {
                margin-right: 20px;
            }
        }
    } //end of .little-box
    .info-box {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: transparentize(white, 0.3);
        padding: 50px;
        display: none;
        .inner-info {
            position: absolute;
            left: 50px;
            right: 50px;
            top: 50px;
            bottom: 100px;
            overflow: hidden;
        }
        p {
            font-size: 1.2em;
        }
        .phrase {
            font-family: "Kirvy", sans-serif;
            font-size: 1.6em;
            margin-bottom: 20px;
            padding-left: 45px;
            position: relative;
            padding-bottom: 30px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background: $secondary-color;
                height: 100%;
                width: 25px;
            }
        }
        .plus-button {
            position: absolute;
            bottom: 50px;
            right: 50px;
            i {
                margin-right: 10px;
            }
            a {
                font-family: "Kirvy", sans-serif;
                color: black;
                font-size: 1.5em;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    } //end of .little-box
    .bottom-text {
        position: absolute;
        bottom: 0;
    }
} // end of .banner
section.page-content {
    margin: 0 100px;
}
section.suppliers-area {
    text-align: center;
    h2 {
        color: white;
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: 300;
    }
    p {
        font-size: 1.8em;
        color: white;
    }
}
section.news-area {
    .container-info {
        flex-direction: column;
    }
    .news {
        display: flex;
        width: 100%;
        ul {
            text-align: center;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-around; //flex-wrap: wrap;
            flex-direction: row;
            li {
                float: none;
                display: inline-block;
                width: 30%;
                min-width: 260px;
            }
            .thumb-post {
                height: 400px;
                width: 100%;
            }
        }
    }
    .plus-button {
        width: 100%;
        text-align: right;
        a {
            font-family: "Kirvy", sans-serif;
            color: black;
            font-size: 1.5em;
            &:hover {
                text-decoration: none;
            }
        }
    }
} // end of section.news-area
section.contact-area {
    .container-info {
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        i {
            margin-right: 10px;
        }
        .contact-form {
            width: 50%;
            padding: 30px;
            text-align: center;
            color: black;
            form {
                text-align: left;
                width: 100%;
            }
            label {
                text-transform: uppercase;
            }
            input, textarea {
                width: 100%;
                padding: 5px;
                background-color: transparent;
                border: 1px solid black;
                resize: none;
                margin-bottom: 10px;
            }
            button {
                background-color: $primary-color;
                color: white;
                font-size: 1em;
                padding: 8px;
                text-transform: uppercase;
                border: none;
                transition: background-color 0.5s;
                &:hover {
                    background-color: darken($primary-color, 15);
                    cursor: pointer;
                }
            }
        }
        .contact-info {
            display: flex;
            width: 50%;
            padding: 20px;
            flex-direction: column;
        }
        .box {
            display: block;
            width: 100%;
            background-color: white;
            padding: 20px;
            margin-bottom: 25px;
            border-bottom: 10px solid $secondary-color;
            text-align: left;
            color: black;
            h4 {
                margin-top: 0;
                font-size: 1.4em;
                font-weight: 300;
                text-transform: uppercase;
            }
            p {
                padding: 0;
                font-size: 1em;
            }
            
        }
    } // end of .container-info
} // end of section.contact-area
