$titleH: 90px;
.news-area {
    .news {
        flex-wrap: wrap;
        padding: 0 25px;
        a {
            width: 30%;
        }
        .small-info-box {
            &:before {
                top: 140px;
            }
        }
        .thumb-post {
            position: relative;
            width: 100%;
            height: 150px;
            background-color: white;
            color: black;
            text-align: left;
            padding: 10px;
            &:hover {
                cursor: pointer;
                .title {
                    text-decoration: underline;
                }
            }
            .title {
                display: block;
            }
            .date {
                padding: 5px 0;
                display: block;
                font-weight: 600;
            }
        } // end of .thumb-post
        
    } // end of .news
    .plus-button {
        font-size: 1em;
        display: block;
        padding: 20px;
        text-align: center !important;
    }
} // end of .news-area