

.caption {
    color: white;
    float: right;
    background-color: transparentize($gray, 0.2);
    font-size: .9em;
    font-style: italic;
    margin-right: 10px;
    a {
        text-decoration: underline;
    }
}

.page-content {
    padding-bottom: 40px;
  h1.page-title {
      margin-top: 200px;
      padding-left: 100px;
  }
  .page-title-header {
    padding-top: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 100px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    position: relative;
    h1.page-title {
          color: white;
          margin-top: 0;
          padding-left: 0;
    }
    .caption {
        margin-top: -20px;
        background-color: transparent;
    }
    .main-phrase {
        position: absolute;
        bottom: 60px;
        color: white;
        width: 500px;
        right: 25px;
        font-size: 1.2em;
        text-align: right;
        color: white;
        background-color: transparentize(black, 0.5);
        padding: 5px;
    }
  }
} // end of .page-content
ul.tab-area {
    border-bottom: 1px solid $gray;

    &.label-tags {
        border: none;
        padding-left: 0;
        li.tab {
            display: inline-block;
            padding: 10px;
            border: none;
            background-color: $background-gray;
            border-radius: 0;
            transition: background-color 0.5s;
            margin-bottom: 5px;
            &:hover {
                cursor: pointer;
            }
            &.selected {
                border: none;
                background-color: $gray;
                color: white;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    li {
        display: inline-block;
        padding: 10px;
    }

    li.tab {
        border: 1px solid lighten($gray, 50);
        border-bottom: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &:hover {
            cursor: pointer;
        }
        h2 {
            padding: 0;
            margin: 0;
            font-size: 1.1em;
            color: lighten($gray, 30);
        }
        &.selected {
            border: 1px solid $gray;
            border-bottom: 1px solid white;
            margin-bottom: -1px;
            h2 {
                color: $gray;
            }
            &:hover {
                box-shadow: none;
            }
        }
    }
} // end of ul.tab-area
.tab-box {
    &.boxes {
        display: flex;
        div {
            background-color: $background-gray;
            padding: 10px;
            width: 30%;
            margin-right: 10px;
        }
    }
}
img.inline-image {
    &.left {
        float: left;
        margin-right: 20px;
    }
    &.right {
        float: right;
        margin-left: 20px;
    }
}

.background-inner-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

    .phrase {
        color: white;
        margin: 20px;
        margin-top: 20px;
        width: 400px;
        display: inline-block;
        right: 25px;
        font-size: 0.8em;
        background-color: transparentize(black, 0.5);
        padding: 5px;
    }
}

a.external-link {
    color: $primary-color;
    &:hover {
        text-decoration: underline;
    }
}

.contact-area.page {
    .box {
        background-color: $background-gray !important;
    }
}