.post {
    .header{
        font-size: 1.2em;
        font-weight: bold;
    }
    .hint {
        color: gray;
        font-size: 0.8em;
        font-style: italic;
    }
    .post-image {
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-color: #ddd;
        background-position: center;
        background-size: contain;
        border: 15px solid #ddd;
        margin-bottom: 20px;
    }
    p {
        text-align: justify;
    }
}