@charset "utf-8";

// Import partials.
@import
  "helpers/vars",
  "helpers/mixins",
  "layout",
  "info-containers",
  "contact",
  "post",
  "news",
  "pages",
  "footer",
  "components/slider",
  "components/accordion"
;

@include font-face("Kirvy", "../fonts/kirvy/kirvy-regular", 400);
@include font-face("Kirvy", "../fonts/kirvy/kirvy-light", 300);
@include font-face("Kirvy", "../fonts/kirvy/kirvy-bold", 500);


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


* {
  box-sizing: border-box;
  outline: none;
}


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  i {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}


