$headerH: 80px;

$primary-color: #4b6c53;

$secondary-color: #efae30;

$gray: #4d4d4d;
$green: #4e5c05;
$background-gray: #e7e7e7;

$background-black: rgba(0, 0, 0, 0.7);


$mq-mobile: "(max-width: 480px)";
$mq-tablet: "(max-width: 600px)";
$mq-tablet-l: "(max-width: 768px)";
$mq-desktop: "(max-width: 1024px)";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;