h2.accordion{ 
    cursor: pointer; 
    background: $secondary-color;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
}
div.accordion{ 
    display: none; 
    padding: 20px;
    &.open {
        display: block;
    }
}