--- 
layout: default 
---

<div class="home">

  <section class="full-page banner" data-order="1">
    {% include slider-back.html %}
  </section>

  <section class="full-page banner" data-order="2">
    <div class="container-info-boxes">
      <div class="master-info-box">
        <h2>{% t home.about.title %}</h2>
          {% t home.about.company %}
        <div class="plus-button">
          <a class="shadow-box" href="{% tl company %}"><i class="fa fa-plus-circle"></i>{% t global.read-more %}</a>
        </div>
      </div>
      <div class="small-info-boxes">
          <div class="small-info-box"><a href="{% tl company %}#{% t company.mission.id %}">{% t home.about.mission %}</a></div>
          <div class="small-info-box"><a href="{% tl company %}#{% t company.history.id %}">{% t home.about.history %}</a></div>
          <div class="small-info-box"><a href="{% tl company %}#{% t company.sites.id %}">{% t home.about.sites %}</a></div>
        </div>
    </div>
  </section>

  <section class="full-page banner" style="background-image: url('{{ site.baseurl_root }}/assets/img/background2.jpg')" data-order="3">

    <div class="container-info-boxes">
      <div class="little-box-area">
        <div class="little-box n1" data-opens="agribusiness-info">
          <h2><i class="fa fa-leaf" aria-hidden="true"></i>Agronegócio</h2>
        </div>

        <div class="little-box n2" data-opens="storage-info">
          <h2><i class="fa fa-archive" aria-hidden="true"></i>Armazenagem</h2>
        </div>

        <div class="little-box n3" data-opens="logistics-info">
          <h2><i class="fa fa-truck" aria-hidden="true"></i>Logística</h2>
        </div>
      </div>

      {% include info-box.html id="agribusiness-info" phrase-tkey="home.info.agribusiness-phr" content-tkey="home.info.agribusiness" tkey-id="activities.agribusiness.id" %} 
      {% include info-box.html id="storage-info" phrase-tkey="home.info.storage-phr" content-tkey="home.info.storage" tkey-id="activities.storage.id" %} 
      {% include info-box.html id="logistics-info" phrase-tkey="home.info.logistics-phr" content-tkey="home.info.logistics" tkey-id="activities.logistics.id" %} 
    </div>
  </section>

  <section class="full-page banner news-area" data-order="4">
      <div class="container-info-boxes">
          <div class="master-info-box">
              <h2>Notícias</h2>
              <div class="news small-info-boxes">
                {% for post in site.posts limit:6 %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="thumb-post small-info-box">
                      <span class="date">
                      {% if site.lang == "pt" %}
                        {{ post.date | date: "%d" }}/{{ post.date | date: "%m" }}/{{ post.date | date: "%Y" }}
                      {% else %}
                        {{ post.date | date: "%m" }}/{{ post.date | date: "%d" }}/{{ post.date | date: "%Y" }}
                      {% endif %}
                      </span>
                      <span class="title">{{ post.title }}</span>
                    </div>
                  </a>
                {% endfor %}
              </div>
              <div class="plus-button">
                  <a class="shadow-box" href="{% tl company %}"><i class="fa fa-plus-circle"></i>{% t global.read-more %}</a>
                </div>
          </div>
      </div>
  </section>

  <section class="full-page banner suppliers-area" style="background-image: url('{{ site.baseurl_root }}/assets/img/background6.jpg')"
    data-order="5">
    <div class="container-info-boxes">
      <div class="bottom-text">
        <h2>Seja um <b>Fornecedor</b> afiliado 
          <a href="{% tl suppliers %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </h2>
        <p>A empresa diferencia-se por estar presente em toda a cadeia do agronegócio e se relaciona com cerca de 2,3 mil produtores agrícolas no Brasil</p>
      </div>
    </div>
    
  </section>

  <section class="full-page banner contact-area" data-order="6">
      <div class="container-info-boxes">
          <div class="master-info-box">
            <h2>Contato</h2>
            <div class="container-info">
                <div class="contact-form">
                  <form>
                    <label>Nome *</label>
                    <input type="text" required>
                    <label>Email *</label>
                    <input type="email" required>
                    <label>Empresa</label>
                    <input type="text">
                    <label>Telefone</label>
                    <input type="text">
                    <label>Mensagem *</label>
                    <textarea name="" id="" cols="30" rows="7" required></textarea>
                    <div style="text-align: right">
                      <button type="submit">Enviar</button>
                    </div>
                  </form>
                </div>
          
                <div class="contact-info">
                  <div class="box">
                      <h4>Trabalhe conosco!</h4>
                      <a href="{% tl work %}" class="shadow-box primary">
                        <i class="fa fa-id-card" aria-hidden="true"></i>Envie seu currículo
                      </a>
                  </div>
                  <div class="box">
                      <h4>Sede</h4>
                      <p>Rua Antonio Lapa, 280 – 8º andar<br>
                          Cambuí, Campinas - São Paulo<br>
                          CEP: 113025-240<br>
                          Telefone: + 55 19 3114-8600</p>
                      <hr>
                      <a href="https://www.google.com.br/maps/place/Av.+Cel.+Silva+Telles,+977+-+Cambu%C3%AD,+Campinas+-+SP,+13024-001/@-22.8940617,-47.0479989,20z/data=!4m5!3m4!1s0x94c8cf5a84a9530b:0x8dcf84062108f3f5!8m2!3d-22.8942668!4d-47.0477823?hl=pt-BR" 
                        class="shadow-box primary">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Abrir no Google Maps</a>
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </section>

</div>

<script>
  var windowH = $(window).height();
  $('section.full-page').css('height', windowH);

  var areaH = $('.container-info-boxes').height();
  //$('.little-box h2').css('line-height', areaH / 4 + "px ");

  jQuery(".little-box").click(function () {
    jQuery(".info-box").fadeOut();
    jQuery(".little-box").removeClass('selected');
    jQuery(this).addClass('selected');
    jQuery("#" + jQuery(this).attr('data-opens')).fadeIn();
  });

  jQuery(".little-box.n1").click();

  function moveUp(event) {

    var currentOrder =

      console.log("UP");

    var st = $(document).scrollTop();

    // Prevent default anchor click behavior
    event.preventDefault();


    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: 0
    }, 800, function () {

    });
  }
</script>