--- 
layout: default 
--- 
{% if page.header-image %}
	<div class="page-title-header" style="background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.9)), url('{{ site.baseurl_root }}/assets/img/{{ page.namespace }}/background.jpg') ">
		<h1 class="page-title">{% t page.title %}</h1>
		<span class="caption">{{ page.caption }}</span>
		{% if page.main-phrase-tkey %}
			<div class="main-phrase">{% t page.main-phrase-tkey %}</div>
		{% endif %}
	</div>
{% else %}
	<h1 class="page-title">{% t page.title %}</h1>
{% endif %}

<section class="page-content">
	{{content}}
</section>

<script>

jQuery(".tab").click(function () {
	var parent = jQuery(this).closest('.tabs-container');
	var currentTarget = this;
	var openTab = jQuery(parent).find(".tab-box.open").removeClass('open');
	if(openTab.length <= 0){
		openTab = jQuery(parent).find(".tab-box");
	}

	openTab.fadeOut("slow", function(){
		jQuery("#" + jQuery(currentTarget).attr('data-opens')).fadeIn();
		jQuery("#" + jQuery(currentTarget).attr('data-opens')).addClass('open');
	});
	jQuery(parent).find(".tab").removeClass('selected');
	jQuery(parent).find(currentTarget).addClass('selected');

	//window.location.search = jQuery.query.set("s", jQuery(this).attr('id'));	
});

var hash = window.location.hash;
var objHash = jQuery('.tab' + hash);

jQuery(".tab-box").fadeOut("fast");
if(hash && objHash.length > 0)
	jQuery(".tab" + hash).click();
else
	jQuery(".tab.n1").click();

jQuery('.page-link').removeClass('active');
jQuery('#' + '{{ page.namespace }}').addClass('active');
	
</script>