---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% if page.lang == "pt" %}
          {{ page.date | date: "%d/%m/%Y" }}
        {% else %}
          {{ page.date | date: "%m/%d/%Y"}}
        {% endif %}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </div>

  <div class="post-image" style="background-image: url('{{ site.baseurl_root }}/assets/img/news/{{ page.main-img }}');"></div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
